﻿@model HomeModel  ;
@{
    ViewData["Title"] = "Home Page";
}

<h1>Podgląd najnowszych pomiarów</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Measurement.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Measurement.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Measurement.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Measurement.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Measurements)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
        </tr>
    }
    </tbody>
</table>

<form method="post">
    <input type="button" value="Generuj 1 serię nowych pomiarów" class="btn btn-default" onclick="generateSingleSeries();"/>
</form>
<form method="post">
    <input type="button" value="Wyczyść bazę danych" class="btn btn-default" onclick="cleanDatabase();"/>
</form>
<form method="post">
    <input type="button" value="Wygeneruj losową baze dla 3 dni" class="btn btn-default" onclick="generate3DaySeries();"/>
</form>
<form method="post">
    <input type="button" value="Wyślij powiadomienie push" class="btn btn-default" onclick="sendPush();"/>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    function generateSingleSeries() {
        $.ajax({
            type: "POST",
            url: 'Home/GenerateSingleSeries',
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function(data) {
            console.log(data.result);
            location.reload(true);
        });
    }

    function cleanDatabase() {
        $.ajax({
            type: "POST",
            url: 'Home/ClearDatabase',
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function(data) {
            console.log(data.result);
            location.reload(true);
        });
    }

    function generate3DaySeries() {
        $.ajax({
            type: "POST",
            url: 'Home/Generate3DaySeries',
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function(data) {
            console.log(data.result);
            location.reload(true);
        });
    }

    function sendPush() {
        $.ajax({
            type: "POST",
            url: 'Home/SendPush',
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json"
        }).done(function(data) {
            console.log(data.result);
        });
    }
</script>